.root {
    display: flex;
    justify-content: space-evenly;
    margin: 100px; 
}
.left {
    display: flex;
    position: absolute;
    left: 250px;
    top: 160px;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.m-input-wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    text-align: center;
}
.m-input-wrapper > p {
    width: 30px;
}
.c-input-wrapper {
    display: inline-flex;
    flex-flow: row wrap;
}
.c-input-wrapper >p {
    width: 30px;
}
.right {
    position: absolute;
    left: 600px;
    top: 120px;
}